/* src/components/button/Button.css */
.button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    flex: 1;
    max-width: 19%;
    margin: .2em;
    transition: background-color 0.2s ease, color 0.5s ease; /* Añadir transición */
}

.button.operator {
    background-color: var(--button-operation-bg-color);
}

.button-zero {
    flex: 31%;
    max-width: 40%;
    border-radius: 40px;
}

.button.pressed {
    background-color: var(--button-bg-color-light); /* Definir un color más claro */
    color: var(--button-text-color-dark); /* Definir un color más oscuro para el texto */
}

.operator.selected {
    background-color: var(--button-text-color);
    color: var(--button-operation-bg-color);
}

.button.special {
    background-color: var(--button-special-bg-color);
    color: var(--button-special-text-color);
}
