/* src/App.css */

:root {
  --background-color: #000000;
  --display-bg-color: #333333;
  --display-text-color: #ffffff;
  --button-bg-color: #505050;
  --button-bg-color-light: #707070; /* Color más claro */
  --button-text-color: #ffffff;
  --button-text-color-dark: #333333; /* Color más oscuro */
  --button-special-bg-color: #a5a5a5;
  --button-special-text-color: #000000;
  --button-operation-bg-color: #F1A33B;
  --button-operation-text-color: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

.App .display {
  width: 34%;
}

.App .button-panel {
  width: 73%;
}
